body{
    background-color:#F5CBFF;
    font-family: Century Gothic;
    }
    
.header{
    overflow: auto;
    border-radius: 10px 10px 0px 0px;
    width: 55%;
    height:10%;
    margin:auto;
    text-align: center;
    align-content: center;
    background:	#00CD00;
    }
    
.header1{
    border-radius: 10px 10px 10px 10px;
    width: 19.25%;
    height:35%;
    margin:auto;
    text-align: center;
    align-content: center;
    background:#00EE76;
    overflow: auto;
    float:right;
    }
    
.header2{
    border-radius: 10px 10px 10px 10px;
    width: 19.25%;
    height:35%;
    margin:auto;
    text-align: center;
    align-content: center;
    background:#00EE76	;
    overflow: auto;
    float:left;
    }
    
.center{
    width: 55%;
    height:35%;
    overflow: auto;
    margin:auto;
    text-align: center;
    align-content: center;
    background:#00EE76;
    }

.footer{
    border-radius: 0px 0px 10px 10px;
    width: 55%;
    height:10%;
    overflow: auto;
    margin:auto;
    text-align:right;
    align-content: center;
    background:	#00CD00;

    }
    
.img{
    border-radius: 10px 10px 10px 10px;
    margin:auto;
    width: 49.2%;
    height:49.2%;      
    }
    
.img2{
    border-radius: 10px 10px 10px 10px;
    margin:auto;
    width: 18.5%;
    height:18.5%;
    float: right;   
    }
.img3{
      border-radius: 10px 10px 10px 10px;
    margin:auto;
    width: 18.5%;
    height:18.5%;
    
  }   
h2{
    font-family: Century Gothic;  
  }

.menu-link {
    display:inline-block;
    margin:auto;
    overflow: auto;
    text-align: center;
    align-content: center;
    background-color:lightgreen;
    border:5px solid black; 
    padding:10px;
    width:175px ;
    }
    
.menu-link:hover {
    background-color: #51caf3;
    color: #fff;
    }
    
a:visited{
    color: blue;
    }
a1:visited{
  color:lightblue;
}
    
p{

    font-family: Century Gothic;
    font-size:18px;
    
    }
    
.galleria {
            display: flex;
            font-family: Century Gothic;
            overflow-x: auto;
            margin-bottom: 20px;

            
}

.immagine {
            margin-right: 10px;
            max-width: 200px;
            
}
.lettere{
  color:blue;
  font-family: Century Gothic;;
  
}
.immagine img{
  width: 100%; /* Fai in modo che l'immagine riempia completamente il contenitore */
            height: auto;
}
.preferiti {
          margin-top: 10px;
  } 
.menu-link-a{
    display:inline-block;
    margin:auto;
    overflow: auto;
    text-align: center;
    align-content: center;

}
.menu-link-b{
    display:inline-block;
    margin:auto;
    overflow: auto;
    text-align: center;
    align-content: center;
    

}
.div2{
    align-content: center;
  margin:auto;
  text-align: center;
  display:inline-block;
}